@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

:root {

  --basic-extra-dark: #283136;
  --basic-gray: #666666;
  --basic-dark-gray: #444444;
  --basic-little-gray: #e1e1e1;
  --basic-white: #ffffff;
  --basic-neutral: #eeeeee;
  --basic-black: #000000;
  --basic-red: #fb565a;
  --dark-red: #e74246;
  --dark-dark-red: #d7373b;
  --basic-green: #00ca74;
  --dark-green: #00bc6c;
  --dark-dark-green: #00aa62;
  --basic-yellow: #efc849;
  --dark-yellow: #eab534;
  --dark-dark-yellow: #e5a722;
  --basic-slider: #d7dcdf;
  --basic-button-hover: #dfdfdf;
  --basic-button-active: #d5d5d5;
  --button-30-percent-white: rgba(255,255,255,0.3);
  --button-30-percent-black: rgba(0, 0, 0, 0.3);
  --button-60-percent-black: rgba(0, 0, 0, 0.6);
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-neutral);
}

.page-header__logo:hover {
  opacity: 0.7;
}

.page-header__logo:active {
  opacity: 0.3;
}

.site-nav__list {
  list-style: none;
}

.site-nav a,
.user-nav a {
  opacity: 1;
  font-weight: 500;
}

.site-nav a:hover,
.user-nav a:hover {
  color: var(--basic-red);
}

.site-nav a:active,
.user-nav a:active {
  opacity: 0.3;
}

.site-nav__list-item--current {
  border-bottom: 2px solid var(--basic-red);
}

.slider {
  background-color: var(--basic-neutral);
}

.carousel {
  overflow: hidden;
}
.slider__wrapper {
  width: 300%;
}

.slide__header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider__item {
  float: left;
  width: 1160px;
  min-height: 431px;
  background-image: url("../img/slider/nerds-index-slide-1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider__item:nth-child(2){
  background-image: url("../img/slider/nerds-index-slide-2.png");
}

.slider__item:nth-child(3){
  background-image: url("../img/slider/nerds-index-slide-3.png");
}

.button {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 40px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background-color: var(--basic-neutral);
}

.button--big {
  padding-left: 54px;
  padding-right: 54px;
}

.button--submit {
  padding-left: 82px;
  padding-right: 82px;
}

.button--filter {
  color: var(--basic-black);
  padding-left: 88px;
  padding-right: 88px;
}

.button:active {
  color: var(--button-30-percent-white);
}

.button--red {
  background-color: var(--basic-red);
}

.button--red:hover {
  background-color: var(--dark-red);
}

.button--red:active {
  background-color: var(--dark-dark-red);
}

.button--yellow {
  background-color: var(--basic-yellow);
}

.button--yellow:hover {
  background-color: var(--dark-yellow);
}

.button--yellow:active {
  background-color: var(--dark-dark-yellow);
}

.button--green {
  background-color: var(--basic-green);
}

.button--green:hover {
  background-color: var(--dark-green);
}

.button--green:active {
  background-color: var(--dark-dark-green);
}

.button--filter:hover {
  background-color: var(--basic-button-hover);
}

.button--filter:active {
  background-color: var(--basic-button-active);
  color: var(--button-30-percent-black);
}

.button--catalog {
  padding-left: 72px;
  padding-right: 72px;
  min-width: 56px;
}

.features__list {
  list-style: none;
}

.features__header {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

.about__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about__description--uppercase {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
}

.about__list {
  list-style: none;
}

.statistics {
  list-style-type: none;
}

.statistics__item span{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.partners__link {
  opacity: 0.2;
}

.partners__link:hover {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

.contacts {
  position: relative;
  background-image: url(../img/map.png);
  height: 416px;
  width: 100%;
}

.contacts__info {
  margin-left: 140px;
  padding: 48px;
  background-color:var(--basic-white);
  height: 212px;
  width: 223px;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts__address,
.contacts__tel {
  line-height: 18px;
  font-style: normal;
  color: var(--basic-gray);
}

.contacts__address {
  margin-top: 23px;
  margin-bottom: 20px;
}

.contacts__button {
  margin-top: 37px;
}

.contacts__map-marker {
  position: absolute;
  top: 70px;
  left: 847px;
}

.footer__slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer__text {
  color: var(--basic-dark-gray);
}

.social-list {
  list-style: none;
}

.social-list__link {
  position: relative;
  display: block;
  background-color: var(--basic-little-gray);
  width: 81px;
  height: 81px;
  border-radius: 40px;
}

.social-list__link img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.social-list__link:hover {
  background-color:var(--dark-red);
}

.social-list__link:active {
  background-color:var(--dark-dark-red);
}

.social-list__link img:active {
  opacity: 0.3;
}

.feedback {
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.form label {
  font-weight: 700;
  line-height: 18px;
}

.header h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding-top: 72px;
  padding-bottom: 108px;
  background-color: var(--basic-neutral);
  color: var(--basic-black);
}
.filter fieldset {
  border: none;
}
.filter legend {
  text-transform: uppercase;
  font-style: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.filter__cost label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
}

.filter__slider {
  padding: 39px 22px;
  background-color: var(--basic-neutral);
}

.filter__cost-selector input {
  width: 80px;
  background-color: var(--basic-neutral);
}

.filter__grid-list,
.filter__properties-list {
  list-style: none;
}

.filter__grid label,
.filter__properties label {
  line-height: 20px;
}

.catalog__sort-title {
  font-size: 18x;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.catalog__sort-item {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  list-style: none;
  color: var(--button-30-percent-black);
}


.catalog__sort-item:hover {
  color: var(--button-60-percent-black);
}

.catalog__sort-item:active,
.catalog__sort-item--active {
  color: var(--basic-black);
}

.catalog__item--sedona {
  background-image: url(../img/catalog/img-sedona.png);
}

.catalog__item--pink {
  background-image: url(../img/catalog/img-pink.png);
}

.catalog__item--borodinski {
  background-image: url(../img/catalog/img-barbershop.png);
}

.catalog__item--mishka {
  background-image: url(../img/catalog/img-mishka.png);
}

.catalog__item--aplus {
  background-image: url(../img/catalog/img-aplus.png);
}

.catalog__item--kvast {
  background-image: url(../img/catalog/img-kvast.png);
}

.catalog__page-selector {
  list-style-type: none;
}
.catalog__button--number {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 10px;
}

.catalog__button--next {
  padding-left: 78px;
  padding-right: 78px;
  min-width: 104px;
}

.catalog-item {
  height: 578px;
  width: 358px;
  list-style-type: none;
  background-color: var(--basic-gray);
  display: flex;
  align-items: flex-end;
}

.catalog-item__wrapper {
  height: 179px;
  width: 100%;
  background-color: var(--basic-neutral);
  padding: 26px;
}

.catalog-item__header {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.catalog-item__description {
  line-height: 18px;
  color: var(--basic-gray);
  text-align: center;
  margin-top: 12px;
  padding: 0 26px;
}

.catalog-item__button {
  margin-top: 32px;
  text-align: center;
}
