@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}


:root {

  --basic-extra-dark: #283136;
  --basic-white: #ffffff;
  --basic-neutral: #eeeeee;
  --basic-black: #000000;
  --basic-red: #fb565a;
  --dark-red: #e74246;
  --dark-dark-red: #d7373b;
  --basic-green: #00ca74;
  --dark-green: #00bc6c;
  --dark-dark-green: #00aa62;
  --basic-yellow: #efc849;
  --dark-yellow: #eab534;
  --dark-dark-yellow: #e5a722;

  --basic-dark: #aba9a7;
  --basic-extra-light: #f8f5f2;


  --special: #663d15;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-neutral);
}

.page-header__logo:hover {
  opacity: 0.7;
}

.page-header__logo:active {
  opacity: 0.3;
}

.site-nav__list {
  list-style: none;
}

.site-nav a:hover,
.user-nav a:hover {
  color: var(--basic-red);
}

.site-nav a:active,
.user-nav a:active {
  opacity: 0.3;
}

.slider {
  background-color: var(--basic-neutral);
}

.slide__header {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.button {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 40px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--red {
  background-color: var(--basic-red);
}

.button--red:hover {
  background-color: var(--dark-red);
}

.button--red:active {
  background-color: var(--dark-dark-red);
}

.button--yellow {
  background-color: var(--basic-yellow);
}

.button--yellow:hover {
  background-color: var(--dark-yellow);
}

.button--yellow:active {
  background-color: var(--dark-dark-yellow);
}

.button--green {
  background-color: var(--basic-green);
}

.button--green:hover {
  background-color: var(--dark-green);
}

.button--green:active {
  background-color: var(--dark-dark-green);
}


.slide__button {
  padding-left: 54px;
  padding-right: 54px;
}

.features__list {
  list-style: none;
}

.features__header {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
}

.about__header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about__description--uppercase {
  text-transform: uppercase;
  font-weight: 700;
}

.about__list {
  list-style: none;
}

.partners__list-item {
  opacity: 0.2;
}

.partners__list-item:hover {
  opacity: 1;
}

.partners__list-item:active {
  opacity: 0.1;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__adress {
  line-height: 18px;
}

.footer__slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-list {
  list-style: none;
}
